{% extends 'base.html.twig' %}

{% block title %}Eintragsbereich{% endblock %}

{% block body %}
    <h1>Eintragsbereich</h1>

    <table class="table">
        <tbody class="thead-light">
            <tr>
                <th>Name</th>
                <td>{{ eintragsbereich.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('eintragsbereich_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück zur Liste</a>
    <a href="{{ path('eintragsbereich_edit', {'id': eintragsbereich.id}) }} class="btn btn-primary btn-sm" role="button" aria-pressed="true">ändern</a>


{% endblock %}

{% block sidebar %}
    {{ parent() }}
       {{ include('eintragsbereich/_delete_form.html.twig') }}
{% endblock %} 
