{% extends 'base.html.twig' %}

{% block title %}Eintragung index{% endblock %}

{% block body %}
    <h1>Eintragung index</h1>

    <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Datum</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eintragung in eintragungs %}
            <tr>
                <td>{{ eintragung.id }}</td>
                <td>{{ eintragung.datum ? eintragung.datum|date('Y-m-d') : '' }}</td>
                <td>{{ eintragung.text }}</td>
                <td>
                    <a href="{{ path('eintragung_show', {'id': eintragung.id}) }}">show</a>
                    <a href="{{ path('eintragung_edit', {'id': eintragung.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('eintragung_new') }}">Create new</a>
{% endblock %}
