{% extends 'base.html.twig' %}

{% block title %}Praktika{% endblock %}

{% block body %}
    <h1>Praktika</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ praktika.id }}</td>
            </tr>
            <tr>
                <th>Inhalt</th>
                <td>{{ praktika.inhalt }}</td>
            </tr>
            <tr>
                <th>Beginn</th>
                <td>{{ praktika.beginn ? praktika.beginn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ende</th>
                <td>{{ praktika.ende ? praktika.ende|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('praktika_index') }}">back to list</a>

    <a href="{{ path('praktika_edit', {'id': praktika.id}) }}">edit</a>

    {{ include('praktika/_delete_form.html.twig') }}
{% endblock %}
