{% extends 'base.html.twig' %}

{% block title %}Berufswunsch index{% endblock %}

{% block body %}
    <h1>Berufswunsch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for berufswunsch in berufswunsches %}
            <tr>
                <td>{{ berufswunsch.id }}</td>
                <td>{{ berufswunsch.name }}</td>
                <td>
                    <a href="{{ path('berufswunsch_show', {'id': berufswunsch.id}) }}">show</a>
                    <a href="{{ path('berufswunsch_edit', {'id': berufswunsch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('berufswunsch_new') }}">Create new</a>
{% endblock %}
