<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome.all.css') }}">
        {% endblock %}
    </head>
    <body>
    {% block header %}
    <header>
        <nav class="navbar navbar-default navbar-static-top navbar-dark bg-dark navbar-expand-md {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="{{ path('teilnehmer_index') }}">
                        <i class="fa fa-home"></i>Start
                    </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>	
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav navbar-right mr-auto">                    
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mitarbeiter_index') }}">Mitarbeiter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('teilnehmer_index') }}">Teilnehmer</a>                       
                        </li>
                    </ul>
                    <form id="search-form" class="form-inline" role="search" method="get" action="{{ path('teilnehmer_search') }}">
                            <input class="form-control form-control-sm mr-sm-2" type="text" name="q" placeholder="Suche...">
                            <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-search"></i> Suche</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}

    <div class="container body-container">
       <div class="row">
            <div id="main" role="main" class="col-sm-9">
                {% block body %}{% endblock %}
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    
    </div><!-- /.container -->

    {% block footer %}
    <footer class="jumbotron text-center" style="margin-top:120px">
        <p>&copy; {{ 'now'|date('Y') }}</p>
    </footer>
    {% endblock %}
    
    {% block javascripts %}
    <script src=" {{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src=" {{ asset('js/popper.min.js') }}"></script>
    <script src=" {{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}

    </body>
</html>
