{% extends 'base.html.twig' %}

{% block title %}Teilnehmer{% endblock %}

{% block body %}
    <h1>Teilnehmer</h1>

    <table class="table">
        <tbody class="thead-light">
            <tr>
                <th>Name</th>
                <td>{{ teilnehmer.name }}</td>
            </tr>
            <tr>
                <th>Vorname</th>
                <td>{{ teilnehmer.vorname }}</td>
            </tr>
            <tr>
                <th>Fon</th>
                <td>{{ teilnehmer.fon }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ teilnehmer.email }}</td>
            </tr>
            <tr>
                <th>Geburtsdatum</th>
                <td>{{ teilnehmer.geburtsdatum ? teilnehmer.geburtsdatum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Berufswunsch</th>
                <td>{{ teilnehmer.berufswunsch.name }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Ansprechpartner:</h2>
    <ul class="list-group mb-5">
        {% for mitarbeiter in teilnehmer.ansprechpartner %}
            <li class="list-group-item list-group-item-action">
                <a href="{{ path('mitarbeiter_show', {
                                        'id': mitarbeiter.id
                                    }) }}">
                {{ mitarbeiter.name }}
                {{ mitarbeiter.funktion.name }}
                </a>
            </li>
        {% else %}
               <h4>keine Ansprechpartner gefunden</h4>
        {% endfor %}
        <h2>Maßnahmen:</h2>
        {% for massnahme in teilnehmer.massnahmen %}
            <li class="list-group-item list-group-item-action">
                <a href="{{ path('massnahme_show', {
                                        'id': massnahme.id
                                    }) }}">
                {{ massnahme.beginn|date('Y-m-d') }}
                {{ massnahme.ende|date('Y-m-d') }}
                {{ massnahme.massnahmeart.name }}
                </a>
            </li>
            {% else %}
               <h4>keine Maßnahmen gefunden</h4>
        {% endfor %}
        <h2>Praktikum:</h2>
        {% for praktikum in teilnehmer.praktikas %}
            <li class="list-group-item list-group-item-action">
                <a href="{{ path('praktika_show', {
                                        'id': praktikum.id
                                    }) }}">
                {{ praktikum.beginn|date('Y-m-d') }}
                {{ praktikum.ende|date('Y-m-d') }}
                {{ praktikum.firma.name }}
                </a>
            </li>
            {% else %}
               <h4>keine Praktikas gefunden</h4>
        {% endfor %}
        <h2>Eintragungen ({{ teilnehmer.eintragungen|length }}):</h2>
        {% for eintragungen in teilnehmer.eintragungen %}
            <li class="list-group-item list-group-item-action">
                <a href="{{ path('eintragung_show', {
                                        'id': eintragungen.id
                                    }) }}">
                {{ eintragungen.datum|date('d.m.Y') }}
                {{ eintragungen.text[:50] ~ (eintragungen.text|length > 50 ? '...') }}
                
                </a>
            </li>
            {% else %}
               <h4>keine Einträge gefunden</h4>
        {% endfor %}

    </ul>        

<div class="btn-group">
    <a href="{{ path('teilnehmer_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück zur Liste</a>
    <a href="{{ path('teilnehmer_edit', {'id': teilnehmer.id}) }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">ändern</a>
</div>
   
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ include('teilnehmer/_delete_form.html.twig') }}
    <p>
        <br/>
        <a href="{{ path('massnahme_new', {'id': teilnehmer.id}) }}"  class="btn btn-info btn-lg btn-block active" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Maßnahme</a>
         <br/>
        <a href="{{ path('praktika_new', {'id': teilnehmer.id}) }}"  class="btn btn-info btn-lg btn-block active" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Praktikum</a>
         <br/>
        <a href="{{ path('eintragung_new', {'id': teilnehmer.id}) }}"  class="btn btn-info btn-lg btn-block active" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Eintragung</a>
    </p>
{% endblock %} 