{% extends 'base.html.twig' %}

{% block title %}Funktion{% endblock %}

{% block body %}
    <h1>Funktion</h1>

    <table class="table">
        <tbody class="thead-light">
            <tr>
                <th>Name</th>
                <td>{{ funktion.name }}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a href="{{ path('funktion_index') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">zurück zur Liste</a>
        <a href="{{ path('funktion_edit', {'id': funktion.id}) }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">ändern</a>
    </div>
{% endblock %}


{% block sidebar %}
    {{ parent() }}
    {{ include('funktion/_delete_form.html.twig') }}
{% endblock %} 