{% extends 'base.html.twig' %}

{% block title %}Mitarbeiter{% endblock %}

{% block body %}
    <h1>{{ pagination.getTotalItemCount }} Mitarbeiter</h1>

    <table class="table table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name', {}, { 'direction': ('' == pagination.direction or 'asc' == pagination.direction) ? 'desc' : 'asc'} ) }} </th>
                <th>Funktion</th>
                <th>Raum</th>
                <th>Fon</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
        {% for mitarbeiter in pagination %}
            <tr>
                <td>{{ mitarbeiter.name }}</td>
                <td>{{ mitarbeiter.funktion.name }}</td>
                <td>{{ mitarbeiter.raum }}</td>
                <td>{{ mitarbeiter.fon }}</td>
                <td>
                    <a href="{{ path('mitarbeiter_show', {'id': mitarbeiter.id}) }}" class="btn btn-secondary btn-sm active" role="button"><i class="fa fa-eye"></i> anzeigen</a>
                    <a href="{{ path('mitarbeiter_edit', {'id': mitarbeiter.id}) }}" class="btn btn-secondary btn-sm active" role="button"><i class="fa fa-edit"></i> ändern</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">keine Einträge gefunden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination pagination-md justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('mitarbeiter_new') }}" class="btn btn-primary btn-sm active" role="button"><i class="fa fa-plus"></i> neu erstellen</a>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <a href="{{ path('funktion_index') }}" class="btn btn-info btn-lg btn-block active" role="button"><i class="fa fa-cogs" aria-hidden="true"></i> Funktion</a>
{% endblock %}
